@{
    ViewBag.Title="Quản lý kho";
}
<form id="" action="" method="get">
            <label>Tên mặt hàng cần tìm:</label>
            <div class="input-group">
                <input name="" type="text" class="form-control" placeholder="Nhập mặt hàng hàng cần tìm" value="" autofocus>
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <a href="/InventoryTransaction/Edit" class="btn btn-primary" style="margin-left:5px">
                        <i class="fa fa-plus"></i> Nhập kho
                    </a>
                </div>
            </div>  
</form>
<br>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thread>
            <tr class="bg-primary" style="background-color: #339ab1">
                <th style="width:auto">Tên Mặt Hàng</th>
                <th style="width:auto">Số lượng tồn kho</th>
                <th style="width:auto">Loại Giao Dịch</th>
                <th style="width:auto">Số lượng thay đổi</th>
                <th style="width:auto">Lịch sử</th>
                <th style="width:auto">Đơn hàng</th>
               
            </tr>
        </thread>
        <tbody>         
                <tr>
                    <td style="width:auto"></td>
                    <td style="width:auto"></td>
                    <td style="width:auto"></td>
                    <td style="width:auto"></td>
                    <td style="width:auto"></td>
                    <td style="width:auto"></td>
                   
                </tr>
        </tbody>
    </table>
</div>
