<footer id="footer">
	<!--Footer-->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="companyinfo">
						<h2><span>PDKhanh</span>_shopper</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="address">
						<img src="~/images/home/map.png" alt="" />					
					</div>
				</div>
			</div>
		</div>
	</div>

	

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left">Copyright © 2024 Phan Đức Khánh</p>
				
			</div>
		</div>
	</div>

</footer><!--/Footer-->